body {
  background: #dfdddd;
}

.winBShadow {
  box-shadow: 0 0 10px 1px rgb(8, 232, 8);
}

.loseBShadow {
  box-shadow: 0 0 10px 1px rgb(251, 50, 50);
}

.drawBShadow {
  box-shadow: 0 0 10px 1px blue;
}

.scaleWin {
  transform: scale(1.1);
}

.scaleLose {
  transform: scale(0.9);
}

#music {
  border-radius: 50%;
  background: transparent;
  padding: 12px;
  margin: 5px 5px 5px 40px;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
#music:hover {
  opacity: 1;
}

#audio {
  margin-top: 5px;
  margin-left: 30px;
  transition: 1s;
}

.displayNone {
  opacity: 0;
}

.cardUser {
  background: #f6f6f6;
  transition: 0.7s ease-in-out;
}
.cardUser .boxUser img {
  width: 50%;
  padding: 10px 50px 10px 0;
  margin-bottom: 30px;
}
.cardUser .boxUser img:first-child {
  border-right: 1px dashed #000;
}
.cardUser .boxUser #playerUserSPR {
  width: 55%;
}
.cardUser .boxUser .card-body {
  border-top: 1px solid #000;
}

.cardComp {
  background: #f6f6f6;
  transition: 0.7s ease-in-out;
}
.cardComp .boxComp img {
  width: 50%;
  padding: 20px 0 20px 50px;
  margin-bottom: 30px;
}
.cardComp .boxComp img:first-child {
  border-right: 1px dashed #000;
}
.cardComp .boxComp .card-body {
  border-top: 1px solid #000;
}

.buttons .score p {
  font-size: 90px;
}
.buttons .score #user {
  margin-right: 90px;
}
.buttons .score #computer {
  margin-left: 90px;
}
.buttons .icons {
  width: 8%;
  margin: 30px;
}
.buttons .icons img {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ccc;
  padding: 5px;
}
.buttons .icons:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgb(168, 172, 172);
}

#vs {
  text-shadow: 5px 0px #b5b4b4 !important;
  font-size: 60px;
}

@media screen and (max-width: 999px) {
  .cardUser {
    padding: 15px !important;
  }
  .cardUser .boxUser #wrap {
    flex-direction: column !important;
  }
  .cardUser .boxUser #wrap .imgUser {
    width: 100%;
    padding: 0;
    border-right: none;
  }
  .cardUser .boxUser #wrap #playerUserSPR {
    width: 100%;
  }
  .cardComp {
    padding: 15px !important;
  }
  .cardComp .boxComp #wrap {
    flex-direction: column-reverse !important;
  }
  .cardComp .boxComp #wrap .imgComp {
    width: 100%;
    padding: 0;
  }
  .cardComp .boxComp #playerCompSPR {
    width: 100%;
    border-right: none;
  }
  .card-body {
    padding: 0;
  }
  .card-body .card-title {
    margin-top: 10px;
  }
  .buttons .icons {
    width: 15%;
    margin: 9;
    margin-top: 27;
  }
}
@media screen and (max-width: 778px) {
  #music {
    margin-left: 10px;
  }
  #audio {
    margin-left: 10px;
  }
  .card-body h4,
  .card-body p {
    font-size: 10px !important;
  }
  #vs {
    display: none;
  }
  .cardUser .boxUser #playerUserSPR {
    width: 80% !important;
    padding: 0 0 0 10px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .cardComp .boxComp #playerCompSPR {
    width: 80%;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .scoreMob p {
    font-size: 60px;
  }
  .buttons .icons {
    width: 58%;
    margin: 30px;
  }
  .buttons .score {
    display: none !important;
  }
}
@media screen and (min-width: 780px) {
  .scoreMob {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */